<div class="routines-edit-container">
    <h1>{{rntResults.routineName}}</h1>
    <br><br>
    {{#if rntResults.active}}
        <form action="/routines/{{rntResults.routineId}}/active/edit" method="POST" target="_blank">
            <input type="checkbox" name="active" value="true" checked="checked">
        </form>
    {{else}}
        <form action="/routines/{{rntResults.routineId}}/active/edit" method="POST" target="_blank">
            <input type="checkbox" name="active" value="true">
        </form>
    {{/if}}
    <br><br>
    {{#each rntResults.exercises}}
    <form action="/routines/{{../rntResults.routineId}}/{{exerciseId}}/edit" method="POST" target="_blank">
        <input type="text" name="exercise" value="{{exerciseName}}">
        <input type="text" name="weight" value="{{weight}}">
        <input type="text" name="reps" value="{{reps}}">
        <input type="text" name="sets" value="{{sets}}">
        <br><br>
    </form>
    {{/each}}
    <br><br>
    <button onclick="subForms()" class="button-routines">Submit Changes</button>
    
</div> 

